

<div style="text-align: center;">
  <input type="number" [(ngModel)]="num1">
  <input type="number" [(ngModel)]="num2">
  <br>
  
  <button (click)="add()">Add</button>
  <button (click)="sub()">Sub</button>
  <button (click)="multiply()">Multiply</button>
  <button (click)="divide()">Divide</button>
 
  
  <br><br>
  <p style="font-family: Verdana, Geneva, Tahoma, sans-serif; ">Result: {{num3}}</p>
  <br><br><br>

  <h3>Factorial</h3>
  <input type="number" [(ngModel)]="fakt">
  <button (click)="faktorijel()">Faktorial</button>
  <p>Result: {{num4}}</p>
</div>


